

    /* ================= Banner Section ================= */
    .banner-section {
       font-family: "Poppins", "Roboto";
      position: relative;
      width: 1323px;
      height: 447px;
      margin: 50px auto;
      overflow: hidden;
      border-radius: 20px;
    }

    /* Background Image */
    .bannar-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    /* Content Container */
    .banner-content-container {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 200px;
     
    }



    .banner-text-content h1 {
      font-size: 42px;
      font-weight: 700;
      font-family: "Poppins";
      line-height: 1.2;
      color: #253d4e;
      margin-bottom: 15px;
    }

    .banner-text-content p {
      font-size: 18px;
      font-family: "Roboto";
      color: #7e7e7e;
      margin-bottom: 25px;
    }

    /* Subscribe Form */
    .subscribe-form {
     
      position: relative;
      width: 320px;

    }

    .subscribe-form input {
      width: 50%;
      padding: 14px 110px 14px 18px;
      border: 1px solid #ddd;
      border-radius: 30px;
      outline: none;
      font-size: 14px;
    }

    .subscribe-form button {
     
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      padding: 15px 22px;
      background: #3bb77e;
      border: none;
      border-radius: 25px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    }

    .subscribe-form button:hover {
      background: #2da56d;
    }

    /* Product Image */
    .product-image-banner {
      width: 500px;
      height: 500px;
    }

