
.category-contener {
padding: 20px 30px;
}
.category-list {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Inter;
   
}
.category-list ul {
    display: flex;
    gap: 20px;
    list-style: none;
   

     
}
.category-list ul li a {
    text-decoration: none;
     color: #000000;
}
.category-list ul li a:hover {
    color: #3BB77E; /* hover color */
}
.all-category {
    padding : 30px;
    display: flex ;
    align-items: center;
    gap: 1.2rem;
    
}
.all-category section {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 200px;
  
    cursor: pointer;
}
.all-category section a {
    text-decoration: none;
    color: #000000;

}

.category-cart {
    padding: 20px 30px;
  display: flex;
  gap: 25px;
}

.category-cart-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: #F5F7FA;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.category-cart-products img {
  width: 120px;
}
.category-cart-products div {
  display: flex;
  flex-direction: column;
  gap: 15px; /* p আর button এর মাঝে gap */
}
.category-cart-products div p {
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  margin-bottom: 10px;
  line-height: 2rem;
}

.category-cart-products button {
  background: #3BB77E;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 25px;
  cursor: pointer;
}
