nav {
  font-family: "Poppins", sans-serif;
  background: white;
  padding: 15px 10px;
  border-bottom: 1px solid #ececec;
  font-size: 18px;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
}

.browse-btn {
  background: #3bb77e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.value-selector {
  border: none;
  font-size: 16px;
  color: red;
  background: #3bb77e;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}
nav select {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  color: #253d4e;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #253d4e;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}

.nav-links a:hover {
  color: #3bb77e;
}

.nav-links a .arrow {
  font-size: 0.7em;
  margin-left: 2px;
}

.phone-support {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.phone-support strong {
  color: #3bb77e;
  font-weight: bold;
  font-size: 18px;
}

.phone-support span {
  font-size: 13px;
  color: #666;
}
